kilo/kilo
.kilo_debug
target
target-unix
build/
*.sln
.vs/
*.dll
*.exe
*.VC.*
*.dSYM
.*debug
*.txt
testfiles/
.idea/dbnavigator.xml
.idea/workspace.xml
.bim_persist_state.yaml
icon*.png
bim.ico
callgrind.out*
flame-graph.html

# RenderDoc capture files
*.rdc
